body{
    background-color:#f0dada ;
    font-family: 'MyCustomFont', 'Abril Fatface', 'Georgia', 'Times New Roman', serif;
    display: flex;
    justify-content: center; /* horizontal */
}
.logo{
    width: 120px;
    height: auto;
    border-radius: 60% ;

}
.sidebar{
    width:100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.navbar {
    display:flex ;
    align-content:center;
    justify-content: space-between;
    padding-bottom:30px ;
    
}
.main {
    width :100%;
    padding:30px;
    gap: 24px;
}
.gapArea{
    display: flex;
    align-items: center;
    gap: 50px;
}
.Login{
    width:100px;
    height:55px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px 
}
.icons{
    display: flex;
    width: 60px;
    height:auto;
    align-items: center;
    justify-content: center;
}
.iconsM{
    display: flex;
    width: 80px;
    height:auto;
    align-items: center;
    justify-content: center;}

.sectiontab{
    width:417px;
    height:130px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
     box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px
}
.tabs{
    display: flex;
    padding-top: 24px;
    gap: 24px;
}
.secondtab{
    width:845px;
    height:275px;
    font: size 12px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
}
.thirdtab{
    width:430px;
    height:275px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
     box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
}
.fourthtab{
    width:1300px;
    height:150px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
     box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
}
.fithtab{
    width:1300px;
    height:300px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
     box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
}
.tabvet{
     display: flex;
    padding-top: 24px;
    gap: 24px;
    flex-direction: column;
}
.mainff{
    display: flex;
    flex-direction: column;
}
.mainfs{
    display: flex;
    flex-direction: row;
}
.footer{
   padding-top: 100px;
}
.logintab{
    padding-top: 24px;
    width: 500px;
    height: 300px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
    margin: 0 auto; 
    flex-direction: column; 
}
.logincontainer{
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.alertsection{
    width:600px;
    height:30px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    background-color: #F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
    padding-left: 10px;
    flex-shrink: 0;
    overflow: hidden;
}
.timevar{
    width:100px;
    height:30px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #F8EFE0;
     box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
}
.newstab{
    width:600px;
    height:150px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    background-color: #F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
    flex-shrink: 0;
    overflow: hidden;
}

.newsfeed{
    width:800px;
    height:500px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
    flex-shrink: 0;
    overflow: hidden;
}
.newstabfeed{
    display: flex;
    gap: 24px;
    padding-top: 24px;
}
.tabsnews{
    display: flex;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;

}
.newsbuttonoverlay{
    display: flex;
    flex-direction: column;
}
.newsbutton{
    width:400px;
    height:65px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
    margin: 5px 0;
    
}
.historytab{
    width:1250px;
    height:30px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
    margin: 5px 0;}
.historytab1{
    width:1250px;
    height:300px;
    font-size:22px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F8EFE0;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
    margin: 5px 0;}
.loginform{
    background-color:#F8EFE0 ;
}
.logininput{
    background-color: wheat;

}
.loginsubmit{
    background-color: wheat;

}
.forgot-password{
    background-color:#F8EFE0;

}

@font-face {
    font-family: 'MyCustomFont';
    src: url('Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
    
#myChart{
    width: 100% !important;
    height: 100% !important;
    background-color: F8EFE0;
}
#linechart{
    width: 100% !important;
    height: 100% !important;
    background-color: F8EFE0;}
#myChartpie{
    background-color:  F8EFE0;
}
#linechart1{
    background-color:  F8EFE0;
}
#map{
    width: 1000px;
    height: 100vh;
    box-shadow: 1px 0 0 1px #6694cd, 10px 2px 11px;
    display: flex;
}
.imagecontainersmall{
    width: 150px;
    height: 150px;
    display: flex;    
}
.imagetextcontainer{
    padding-left: 23px;
    display: flex;

}
.imagecontainerlarge{
    display: flex;    }
.newscaption{
    display: flex;
    flex-direction: column;
}
.articleImage{
    display: flex;
    align-items: center;
    width: 1200;
    justify-content: center;
    align-items: center;
}
